[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/fastgltf"]
	path = external/fastgltf
	url = https://github.com/spnda/fastgltf.git
[submodule "external/modelsloader"]
	path = external/modelsloader
	url = https://github.com/CretaceousConstructor/ModelsLoader
